@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Roboto', sans-serif;  */
  font-family: "Shadows Into Light", cursive;
  background-color: #0a192f;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

/*************** Skills Boxes*************** */
.skill-box {
  box-shadow: 0 0.4rem 1.8rem rgba(5, 143, 255, 0.76);
  border-radius: 11px;
  overflow: hidden;
  background-color: #0a192f;
}

.skill-img {
  padding-top: 1.5rem;
}

.skill-content {
  padding: 1rem 4.8rem 1.5rem 4.8rem;
}

.trend-title {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
  font-weight: 600;
  color: white;
  text-align: center;
  letter-spacing: 0.3rem;
}
.trend-attributes {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
}
.trend-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: white;
  letter-spacing: 0.3rem;
}

.trend-icon {
  height: 1.4rem;
  width: 1.4rem;
  color: #ffffff;
}

/* *********************************** */
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

/* Nav bar style */
.main-nav {
  margin-left: 60px;
  padding-top: 10px 0 10px;
  position: fixed;
  right: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.26);
}

/* display main nav list horizontally */
.main-nav-list li {
  display: inline;
}

.main-nav-list {
  float: right;
}

.main-nav-list li a {
  margin-right: 20px;
  text-decoration: none;
  color: rgb(88, 88, 88);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.main-nav-list li a:hover {
  color: #ffffff;
}

.text {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.text:visited {
  color: black;
}

.wrap-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}

.open-btn {
  position: fixed;
  top: 20px;
  left: 30px;
  color: rgb(88, 88, 88);
}

.open-btn:hover {
  color: white;
}

/* shift nav bar off the page */
.wrap {
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

/* if .visible class inside wrap class */
.wrap.visible {
  transform: translateX(0);
}

.wrap-black {
  background-color: rgba(145, 145, 145, 0.24);
  width: 14%;
  max-width: 480px;
  transition-delay: 0.2s;
}

.wrap-white {
  background-color: transparent;
  width: 95%;
  padding: 40px;
  position: relative;
}

.wrap .list a {
  color: white;
  font-size: 2rem;
}

.wrap .list a:hover {
  color: white;
  text-decoration: underline;
}

.wrap .list {
  margin-top: 8rem;
  text-align: right;
}

.close-btn {
  opacity: 0.5;
  position: absolute;
  top: 40px;
  right: 30px;
}

.close-btn:hover {
  color: white;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li,
.main-nav-list {
  margin: 20px 0;
}

.list li a,
.main-nav-list {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

/* navigation dissappears */
@media (max-width: 600px) {
  .main-nav {
    display: none;
  }
}

/* Down arrows========================== */
#div1 .arrowDown {
  content: "";
  width: 40px;
  height: 40px;
  position: auto;
  margin: 2rem auto;
  top: 90vh;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 4px solid rgba(83, 83, 83, 1);
  border-bottom: 4px solid rgba(83, 83, 83, 1);
  transform: rotate(45deg);
  cursor: pointer;
}

#div1 .arrowDown:hover {
  border-color: white;
}

#div2 .arrowDown {
  content: "";
  width: 40px;
  height: 40px;
  position: auto;
  margin: 2rem auto;
  top: 190vh;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 4px solid rgba(83, 83, 83, 1);
  border-bottom: 4px solid rgba(83, 83, 83, 1);
  transform: rotate(45deg);
  cursor: pointer;
}

#div2 .arrowDown:hover {
  border-color: white;
}

#divZ .arrowDown {
  content: "";
  width: 40px;
  height: 40px;
  position: auto;
  margin: 2rem auto;
  top: 290vh;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 4px solid rgba(83, 83, 83, 1);
  border-bottom: 4px solid rgba(83, 83, 83, 1);
  transform: rotate(45deg);
  cursor: pointer;
}
#divZ .arrowDown:hover {
  border-color: white;
}

#div3 .arrowUp {
  content: "";
  width: 40px;
  height: 40px;
  position: auto;
  margin: 2rem auto;
  top: 390vh;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 4px solid rgba(83, 83, 83, 1);
  border-bottom: 4px solid rgba(83, 83, 83, 1);
  transform: rotate(225deg);
  cursor: pointer;
}

#div3 .arrowUp:hover {
  border-color: white;
}
/* =======================content==================================== */

.headers {
  text-shadow: 5px 7px 13px black;
  font-size: 3.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
  font-size: 3.5rem;
  letter-spacing: 1.3rem;
}

.myDivs {
  min-width: 100vw;
  min-height: 100vh;
}

.img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-div img {
  height: 200px;
  border-radius: 60%;
  margin-top: 8rem;
}

#div1content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
  top: 1rem;
  text-align: center;
}

#div1 h1 {
  margin-top: 2rem;
  text-shadow: 5px 7px 13px black;
  font-size: 3.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  letter-spacing: 1.3rem;
}
#div1all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#div1content i,
#div1content p {
  margin-top: 2rem;
}

#div1content p {
  width: 50%;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}

#div1content i {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

/*=================================== div2 content =====================================*/

#div2 .skills_wrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4em;
}

#div2 .skills {
  padding: 1.2rem;
  font-size: 1.8rem;
  width: 60%;
  align-items: center;
}

/*======================= Language icon and H3 ===============================*/
#div2 .skills_wrap .skill-box i {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#div2 .skills_wrap .skill-box h3 {
  color: rgb(255, 255, 255);
  letter-spacing: 0.8rem;
  text-align: center;
}

#div2 .skills_wrap .skill-box .fa-html5 {
  color: rgb(189, 1, 1);
  font-size: 11em;
}

#div2 .skills_wrap .skill-box .fa-css3-alt {
  color: rgb(3, 6, 187);
  font-size: 11em;
}

#div2 .skills_wrap .skill-box .fa-js-square {
  color: rgb(165, 177, 2);
  font-size: 11em;
}

/* divZ Content */

#divZ .projectSection {
  min-width: 100vh;
  height: auto;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 100%;
}

/* toggle */
.row {
  margin-top: 2rem;
}
.apps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapt {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(53, 53, 53, 0.219);
  border: 1px solid black;
  border-radius: 5px;
  margin: 6px 0 0 0;
  padding: 30px;
  position: relative;
  color: rgb(255, 255, 255);
  width: 600px;
  letter-spacing: 0.2rem;
}

/* if the div .wrap has an .active class */
.wrapt.active {
  background-color: rgba(37, 37, 37, 0.473);
}

.wrap-title {
  margin: 0 35px 0 0;
  font-size: 1.2rem;
  /* text-shadow: 1px 1px 2px white; */
}

.wrap-text {
  display: none;
  margin: 10px 0 0;
  text-align: center;
}

.wrap-text img {
  margin-top: 1rem;
  filter: opacity(70%);
}

.wrap-text img:hover {
  filter: none;
}

.wrap-text .repo {
  font-size: 1.2rem;
  color: white;
}

.wrap-text .repo:hover {
  color: rgb(0, 217, 255);
}

.wrapt.active .wrap-text {
  display: block;
}

.wrap-toggle {
  background-color: transparent;
  color: gray;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
}

.wrap-toggle:hover {
  color: white;
}

a {
  color: blue;
}

a:hover {
  color: white;
}
.wrap-toggle .fa-chevron-circle-down {
  font-size: 1.5rem;
}

.wrap-toggle .fa-times-circle {
  font-size: 1.5rem;
}

.wrap-toggle:focus {
  outline: none;
}

.wrap-toggle .fa-times-circle {
  display: none;
}

.wrapt.active .wrap-toggle .fa-chevron-circle-down {
  display: block;
}

.wrapt.active .wrap-toggle .fa-times-circle {
  display: block;
}

.wrapt.active .wrap-toggle .fa-chevron-circle-down {
  display: none;
}

/* toggle pics */
.projectSection .wrapt .wrap-text img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

/* Resume section */
.resume img {
  filter: blur(3px);
  width: 30rem;
  height: auto;
}

.resume img:hover {
  filter: none;
}

.resume {
  text-align: center;
}

.resume h1 {
  font-size: 2rem;
  color: white;
}

/* div3 content */
#div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#div3 h1,
#div3 p {
  color: white;
  text-shadow: 2px 2px 2px black;
  margin: 15px;
}

#div3 p {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

form {
  padding: 10px;
}

#form button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.801);
  transition: background-color 0.3s ease-in;
}

form button:hover {
  background-color: rgb(0, 192, 250);
  color: white;
  cursor: pointer;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.801);
  border: none;
  color: white;
}

form button {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  margin-bottom: 5px;
  background-color: rgba(0, 192, 250, 0.473);
  border: none;
  color: white;
}

form input:focus,
form textarea:focus {
  background-color: rgba(36, 36, 36, 0.8);
}

form textarea {
  font-size: 1.2rem;
  color: white;
}

.footer {
  position: fixed;
  display: flex;
  flex-direction: column;
}

/* Breakpoint at 1280 and below */
@media (max-width: 1280px) {
  .row {
    background-color: white;
    display: inline;
    width: 100%;
  }

  .main-nav-list li a {
    font-size: 0.8rem;
  }

  .wrap-btn i {
    font-size: 1.2rem;
  }

  .img-div img {
    margin-top: 6rem;
    height: 145px;
  }

  #div1 h1 {
    margin-top: 0rem;
    font-size: 1.5rem;
    letter-spacing: 0.8rem;
  }

  #div1content i {
    font-size: 1.2rem;
  }

  #div1content p {
    font-size: 1rem;
  }
  .headers {
    padding-top: 5rem;
    font-size: 2.2rem;
    letter-spacing: 1.1rem;
  }

  #div2 .skills_wrap .skills .fa-html5 {
    font-size: 5em;
  }

  #div2 .skills_wrap .skills .fa-css3-alt {
    font-size: 5em;
  }

  #div2 .skills_wrap .skills .fa-js-square {
    font-size: 5em;
  }

  h3 {
    font-size: 1rem;
  }

  form input,
  form textarea {
    width: 85%;
    height: auto;
  }

  form button {
    width: 85%;
  }

  .wrap-black {
    width: 18%;
  }
}
